/*======== RESET ========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #444;
  line-height: 1.6;
  font-weight: 400;
}

/*======== GENERAL STYLES ========*/

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

input {
  display: block;
  font-size: 1.8rem;
  border: none;
  padding: 1.25rem;
  box-sizing: border-box;
}

/* BUTTON */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 2rem;
  background-color: #f3501d;
  border-radius: 5px;
  border: none;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

/* HEADING STYLES */
.heading-primary {
  font-size: 6.5rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2;
}

.heading-primary-main,
.heading-primary-sub {
  display: block;
}

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 700;
  color: #121212;
  text-transform: capitalize;
}

.heading-tertiary {
  font-size: 2.4rem;
  color: #121212;
}

/* REUSABLE STYLES */
.text-sm {
  text-transform: capitalize;
  font-size: 2.3rem;
  color: white;
}

.header,
.events-attachment {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/*======== HEADER SECTION ========*/

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(16, 29, 40, 0.801),
      rgba(16, 29, 40, 0.808)
    ),
    url(./images/donation13.jpg);
}

.header-content {
  color: white;
  text-align: center;
  width: 70%;
  padding: 4rem;
}

.header-text {
  width: 68rem;
  font-size: 1.8rem;
  margin: 2.5rem auto;
}

/*======== MAIN SECTION START ========*/

/*======== ALL SECTION GENERAL STYLES ========*/

.section-donate,
.section-donate-services,
.section-events,
.section-updates {
  margin: 12rem 0;
}

/*======== ALL SECTION TITLE ========*/

.section-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.text {
  font-size: 1.8rem;
  color: #707070;
}

/*======== DONATION BOXES ========*/

.donation-details {
  width: 60%;
  margin: 6rem auto;
}

.donation {
  gap: 1rem;
}

.donation-box {
  flex: 1;
  height: 15rem;
  background-color: rgb(238, 237, 237);
  padding: 2rem;
  border-radius: 5px;
}

#donation-box-active {
  border: 3px solid #ff4848;
  background-color: rgb(255, 233, 233);
}
.donation-amount {
  font-size: 3rem;
  font-weight: 700;
  color: #666;
}

#donation-box-active .donation-amount {
  color: #ff4848;
}

.donate-form {
  margin-top: 6rem;
  text-align: center;
}

.form-group {
  margin-bottom: 4rem;
}

.form-donate-input {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  border-bottom: 2px solid #d4d3d3;
}

.form-donate-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

/*======== DONATE SERVICES  ========*/

.services {
  gap: 1.5rem;
  width: 90%;
  margin: 6rem auto;
}

.service-box {
  flex: 1;
  padding: 4rem 2rem;
  flex-direction: column;
  gap: 1.4rem;
}

#service-box-1 {
  background-color: #fcc2d7;
}

#service-box-2 {
  background-color: #eebafe;
}
#service-box-3 {
  background-color: #ffc9c9;
}
.service-box-icon {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.service-box-text {
  font-size: 1.7rem;
  line-height: 1.5;
}

/*======== EVENTS INFORMATION ========*/

.events-information {
  width: 90%;
  margin: 6rem auto;
  border-top: 7px solid #6f27ce;
}

.events {
  flex: 2;
  background-color: #f6dcfd;
  padding: 0rem 0;
  flex-direction: column;
  gap: 0.5rem;
}

.event {
  background-color: #101d38;
  color: white;
  gap: 2rem;
  padding: 2rem 2rem;
  align-items: center;
}
.event-date {
  background-color: #5888f0;
  color: white;
  padding: 2rem 4rem;
  font-size: 2rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  flex-direction: column;
  line-height: 1.4;
}

.event-time {
  font-size: 1.6rem;
  font-weight: 500;
  color: #d7ceff;
  padding: 0 0.8rem;
  border-left: 4px solid;
  border-right: 4px solid;
  border-image: linear-gradient(to bottom, rgb(255, 0, 0), rgba(0, 0, 0, 0)) 1
    100%;
}
.event-details {
  font-size: 1.7rem;
}

.event-location {
  display: inline-block;
  background-color: rgb(187, 21, 151);
  padding: 0 0.6rem;
  border-radius: 4px;
}

.events-attachment {
  flex: 1;
  background-image: linear-gradient(
      to right,
      rgba(235, 82, 16, 0.85),
      rgba(235, 83, 16, 0.85)
    ),
    url(./images/preview.jpg);
  align-items: end;
  justify-content: end;
}

.event-text {
  margin-bottom: 3rem;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: capitalize;
  flex-direction: column;
}

.event-text .event-text-sub {
  background-color: #121212;
  align-self: start;
  color: white;
  padding: 0 0.6rem;
}

.event-text .event-text-quote {
  background-color: #4120d3;
  color: white;
  padding: 4rem 2rem;
}

.book-btn {
  text-align: center;
}

/*======== UPDATES ========*/

.form-updates {
  background-color: #101d38;
  padding: 8rem 2rem;
  width: 60%;
  margin: 6rem auto;
  border-radius: 5px;
  box-shadow: 0 0 6rem 2rem rgba(0, 0, 0, 0.15);
}

.form-updates-input {
  color: #121212;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 35%;
}

.form-updates-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1.25rem 2.5rem;
}

/*======== MAIN SECTION END ========*/

/*======== FOOTER SECTION ========*/

.footer {
  background-color: #121212;
  padding: 3rem;
  text-align: center;
  color: white;
}

.footer-text-main {
  font-size: 3rem;
  font-weight: 700;
  color: #f3501d;
  margin-bottom: 1rem;
}

.footer-text-sub {
  font-size: 1.6rem;
}
